.Home {
	
}

.Background{
   background-image: url("../../../assets/kitchen_background.png");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   /* height: 100vh;
   display: flex; */
   /* justify-content: center;
   align-items: center;
   color: white;
   text-align: center;
   font-size: 2rem;
   font-weight: bold;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
   padding: 20px;
   margin: 0;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   transition: transform 0.3s ease;
   cursor: pointer; */
}


